:root {
    --violet: #5964E0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #F2F2F2;
}

button {
    width: 115px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--violet);
    transition: background-color 300ms;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

button:hover {
    background-color: #939BF4;
}

.button-secondary {
    color: var(--violet);
    background-color: #EEEFFC;
}

.button-secondary:hover {
    background-color: #c5c9ff;
}

header {
    position: relative;
    width: 100%;
    height: 175px;
    background-image: url(assets/desktop/bg-pattern-header.svg);
    background-color: #6670E2;
    border-bottom-left-radius: 85px;
    margin-top: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
} /* 5964E0 */

.header-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
}

.logo {
    font-weight: 700;
    cursor: pointer;
}

.theme-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}

.switch-container {
    background-color: white;
    border-radius: 35px;
    width: 50px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.switch {
    position: absolute;
    background-color: var(--violet);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    left: 5px;
    transition: left 300ms;
}

.search-container {
    position: absolute;
    bottom: -35px;
    width: 80%;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-container div {
    display: flex;
    align-items: center;
    padding: 25px;
    border-left: 1px solid rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container-first {
    border-left: none;
}

.search-container input[type="text"] {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-section {
    width: 40%;
}

#search {
    width: 88%;
}

#location {
    width: 85%;
}

.location-section {
    width: 25%;
}

.full-time-section {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    width: 26%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    margin-right: 15px;
}

[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 20px;
    width: 23px;
    border-radius: 3px;
    background-color: #eee;
    transition: background-color 300ms;
    margin-left: -30px;
    margin-right: 10px;
}

.checkmark img {
    visibility: hidden;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #D5D8F7;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--violet);
}

.checkbox-container input:checked ~ .checkmark img {
    visibility: visible;
}

.checkmark img {
    margin-left: 2px;
    margin-top: 3.5px;
}

/* Job Cards */

main {
    width: 80%;
    margin-left: 10%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width:  375px;
    height: 265px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    margin-top: 60px;
}

.job-logo {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    top: -27.5px;
    left: 25px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
}

.job-info {
    margin-top: 50px;
}

.card a {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 25px;
    text-decoration: none;
    transition: color 300ms;
}

.card a:hover {
    color: #6E8098;
}

.card p {
    font-size: 1rem;
    margin-left: 25px;
    color: #6E8098;
}

.job-location {
    color: var(--violet) !important;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
}

.load-more {
    margin-left: calc(50% - 70px);
    margin-top: 65px;
    margin-bottom: 85px;
    width: 140px;
}

/* JOB DESCRIPTION */

.job-top {
    display: none;
    align-items: center;
    position: absolute;
    bottom: -115px;
    width: 50%;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    color: black;
}

.job-top button {
    position: absolute;
    right: 65px;
}

.job-logo-big {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

.company-info {
    margin-left: 50px;
}

.company-info p {
    margin-top: -10px;
}

section {
    width: calc(50% - 100px);
    margin-left: 25%;
    margin-top: 150px;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 50px;
    counter-reset: number;
    display: none;
}

.description-top {
    width: 100%;
    position: relative;
    margin-top: -10px;
}

.description-top h1 {
    margin-top: -5px;
    font-size: 2rem;
}

.description-top .job-location {
    position: static;
    margin-top: -8px;
}

.description-top p {
    color: #6E8098;
}

.description-top button {
    position: absolute;
    right: 15px;
    top: 35px;
}

section h3 {
    margin-top: 35px;
}

.job-description {
    color: #6E8098;
    font-size: 1.1rem;
    line-height: 30px;
    margin-top: 50px;
}

.job-requirements, .requirements-list {
    color: #6E8098;
    font-size: 1.1rem;
    line-height: 30px;
}

.requirements-list {
    margin-left: -38px;
    list-style: none;
}

.requirements-list li::before {
    content: "•";
    color: var(--violet);
    margin-right: 30px;
}

.job-duties {
    color: #6E8098;
    font-size: 1.1rem;
    line-height: 30px;
}

.duties-list {
    margin-left: -38px;
    color: #6E8098;
    font-size: 1.1rem;
    line-height: 30px;
    list-style: none;
}

.duties-list li::before {
    counter-increment: number;
    content: counter(number);
    color: var(--violet);
    font-weight: 700;
    margin-right: 25px;
}

.job-bottom {
    width: 100%;
    height: 100px;
    margin-top: 75px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

.job-bottom div {
    width: 50%;
    height: 100%;
    position: relative;
}

.job-bottom div button {
    position: absolute;
    right: 0px;
    top: 35px;
}

.job-bottom div p {
    margin-top: -10px;
}

.job-bottom div h3 {
    margin-top: 25px;
}

/* MEDIA QUERIES */

.filter-button {
    display: none;
    width: max-content;
    height: max-content;
    background-color: transparent;
    padding: 10px;
    padding-bottom: 5px;
    margin-left: -10px;
    margin-right: 10px;
}

.filter-button:hover {
    background-color: #eee;
}

.show-on-800 {
    display: none;
}

.shader {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 6;
    top: 0;
    left: 0;
}

.popup {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 80%;
    height: 250px;
}

.popup div {
    color: black;
}

.location-section-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 35px 10%;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.location-section-mobile input {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.full-time-section-mobile {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    width: 150px;
}

.popup button {
    width: 80%;
    margin-left: 10%;
}

@media only screen and (max-width: 1350px) {
    .job-top {
        width: 65%;
    }

    section {
        width: calc(65% - 100px);
        margin-left: 17.5%;
    }

    .job-bottom div {
        width: 65%;
    }
}

@media only screen and (max-width: 1050px) {
    .job-top {
        width: 75%;
    }

    section {
        width: calc(75% - 100px);
        margin-left: 12.5%;
    }

    .job-bottom div {
        width: 75%;
    }
}

@media only screen and (max-width: 1000px) {
    .hide-on-1000 {
        display: none;
    }

    .filter-button {
        display: block;
    }

    .location-section {
        visibility: hidden;
        width: 0px;
    }

    .full-time-section {
        width: 35%;
    }

    .search-section {
        width: 65%;
        margin-right: -50px;
    }

    #search {
        width: 100%;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .job-top {
        width: 85%;
    }

    section {
        width: calc(85% - 100px);
        margin-left: 7.5%;
    }

    .job-bottom div {
        width: 85%;
    }
}

@media only screen and (max-width: 800px) {

    .job-top {
        overflow: visible;
        /*display: flex;*/
        align-items: center;
        flex-direction: column;
        height: 165px;
        bottom: -130px;
    }

    .job-logo-big {
        position: absolute;
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        top: -25px;
        background-size: unset;
        border-radius: 10px;
    }

    .job-top button {
        position: static;
        margin-top: -5px;
    }

    .company-info {
        margin-left: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
    }

    .company-info h1 {
        width: max-content;
    }

    .company-info p {
        margin-top: -15px;
    }

    .description-top h1 {
        font-size: 1.5rem;
    }

    .description-top button {
        position: static;
        width: 100%;
    }

    .job-bottom div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job-bottom div button {
        position: static;
        width: 100%;
    }

    .hide-on-800 {
        display: none;
    }

    .show-on-800 {
        display: block;
    }

    .full-time-section button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        padding: 10px;
    }

    .full-time-section button svg {
        transform: scale(0.75);
    }

    .full-time-section {
        width: 25%;
    }

    .search-container div {
        border-left: none;
    }

    .search-section {
        width: 75%;
    }
}

@media only screen and (max-width: 750px) {
    #search {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .hide-on-550 {
        display: none;
    }
}